<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"><link rel="stylesheet" href="styles.css">
    <title></title>
    <script type="text/html" id="cardTmpl">
      <div class="card">
        &#x<%=suitcode%><%=cardcode%>;
      </div>
    </script>
    <script type="text/html" id="playerTmpl">
      <style>
      .demo-card-image.mdl-card#<%=name%>{
        width: 256px;
        height: 256px;
        background: url(<%= image %>) center / cover;
      }
      .demo-card-image > .mdl-card__actions {
        height: 52px;
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
      }
      .demo-card-image__filename {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
      }
      </style>
      <div class="mdl-grid player">
        <div class="mdl-cell mdl-cell--2-col playerPic">
          <div class="demo-card-image mdl-card mdl-shadow--2dp" id="<%=name%>">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
              <span class="demo-card-image__filename"><%= name %><span class="score" id="<%=name%>score">Pairs: <%=score %></span></span>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--8-col hand" id=<%= name %>Hand>
        </div>
        <div class="mdl-cell mdl-cell--2-col ">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent hidden startTurn" id="<%=name%>StartTurn">
            Start Turn
          </button>
        </div>
        <div class="mdl-cell mdl-cell--2-col ">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent hidden goFishing" id="<%=name%>GoFishing">
            Go Fishing
          </button>
        </div>
      </div>
    </script>
  </head>
  <body>
    <header>
      <h1>Go Fish</h1>
    </header>
    <div class="instructions">

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="addPlayer">
        Add Players
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent hidden"  id="startGame">
        Begin Game
      </button>
      <form class="hidden">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="playerName" />
          <label class="mdl-textfield__label" for="playerName">Player Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input " type="text" id="playerURL" />
          <label class="mdl-textfield__label " for="playerURL">Player Image URL</label>
        </div>
      </form>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent hidden" id="submit">
        Submit
      </button>



    </div>
    <div class="players">

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" charset="utf-8"></script>
    <!-- <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="bower_components/underscore/underscore.js" charset="utf-8"></script> -->
    <script src="variables.js" charset="utf-8"></script>
    <script src="gofish.js" charset="utf-8"></script>
  </body>
</html>
