.card{
  text-align: center;
  display: inline-block;
  font-size: 12em;
}

.hand{
  width:70%;
  margin:auto;
}
.instructions{
  display: inline-block;
  width: 100%;
  margin:30px auto;
  text-align: center;
}

button{
  display: inline-block;
}

.score{
  float:right;
}

h1{
  text-align: center;
}
